html, body {
  height: 100%;
}

.simpd_viewport {
  height: 100%;
}

.main__container {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 52px;
  width: 100%;
  height: 100%;
}

.dashboard__container {
  width: 100%;
  height: 100%;
  /*background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(images/fon_diss.jpg);*/
}