
<article class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" translate>standardBaseMES</h1>
    </div>
    <div class="panel-body">
      <div style="text-align: center;">
        <img width="100%" src="images/current-profiles.png">
      </div>
      <h4 translate>currentProfiles</h4>
      <h5 translate>softwareStandards</h5>
      <pre>
        1.  System and software engineering: Life cycle
        S={S1, S2, S3, S4, S5}
        S1 – ISO/IEC 25010:2011 (replaces ISO/IEC 9126-1:2001)
        S1={S11, S12, S13, S14, S14}
        S11 – quality models
        S12 – quality in use characteristics and subcharacteristics
        S13 - software quality measurement model
        S14 – качество данных
        S15 – quality life cycle model
        S2 - ISO/IEC/IEEE 16326:2009
        S2={S21, S22, S23, S24}
        S21 – управление программными проектами
        S22 – project planning process
        S23 – project assessment
        S24 – risk management process
        S3 - ISO/IEC 12207:2008
        S3={S31, S32, S33, S34}
        S31 – общая структура процессов жизненного цикла ПО
        S32 – задачи разработки программного продукта
        S33 – шесть уровней возможностей процесса
        S34 - группы процессов жизненного цикла ПО
        S4 - ISO/IEC 90003:2004
        S4={S41, S42, S43, S44}
        S41 – модели жизненного цикла ПО
        S42 – инструментальные средства проекта
        S43 – планы по техническим условиям на испытания ПО
        S5 - ISO/IEC 25000:2014
        S5={S51, S52, S53}
        S51 – coordination of guidance on systems and software product
        S52 – introduction of systems product quality
        S53 - quality requirements division
        2.  Risk management and risk assessment techniques
        R={R1, R2, R3, R4}
        R1 - ISO/IEC 31010:2009
        R1={r11, r12, r13, r14, r15}
        r11 – оценка риска
        r12 – управление рисками
        r13 – требования к уровню риска
        r14 – документация рисков вместе с результатами его оценки
        r15 - выходные данные: перечень рисков и перечень отклонений, не подлежащих исправлению
        R2 – ISO/IEC 14971 for medical devices
        R2={r21, r22, r23, r24, r25}
        r21 – оценка риска
        r22 – управление рисками
        r23 – требования к уровню риска
        r24 – валидация рисков
        r25 – уменьшение рисков
        R3 - Guidance fo industry (drugs) Q9
        R3={r31, r32, r33, r34}
        r31 – basic risk management facilitation methods
        r32 – critical control points and hazard analysis
        r33 – risk ranking and filtering
        r34 – quality risk management as part of technological process
        R4 - IEC/TR 80002-1: 2009(E)
        R4={r41, r42, r43, r44, r45, r46}
        r41 – requirements for medical devices software
        r42 - potential software-related pitfalls
        r43 - identification of hazards
        r44 - evaluation of overall residual risk acceptability
        r45 - estimation of the RISK(S) for each HAZARDOUS SITUATION.
        r46 - risks arising from risk control measures
        3.  Safety and security
        SS={SS1, SS2, SS3, SS4}
        SS1 – ISO 61508
        SS1={SS11, SS12, SS13, SS14, SS15}
        SS11 – safety life circle requirements
        SS12 – safety integrity levels
        SS13 – software requirements: techniques and measures
        SS14 – V-model of software development
        SS15 – hardware requirements
        SS2 - ISO/IEC 15408
        SS2={SS21, SS22, SS23}
        SS21 – требования к надежности ПО
        SS22 - security functional requirements
        SS23 – security assurance requirement (требования к адекватности реализации функций безопасности)
        SS3 - ISO 13335:1998
        SS3={SS31, SS32, SS33}
        SS31 - менеджмент безопасности ИТ
        SS32 – методы обеспечения безопасности
        SS33 - модели управления безопасностью
        SS4 - ISO/TR 27809:2007 Меры обеспечения безопасности пациента при использовании программных средств
        SS4={SS41, SS42, SS43, SS44}
        SS41 – requirements for health software products
        SS42 – оценка риска, нанесенного ПО пациентам
        SS43 – пути снижения риска, нанесенного ПО пациентам
        SS44 – классификация ПО для предметной области

        Pharmaceutical standards
        1. MES-system
        M={M1, M2, M3}
        M1 - управление рецептурным производством (batch control in industrial automation systems.): ISA88, Batch Control Systems
        M1={m11, m12, m13, m14, m15}
        m11 – требования к уровням физической модели производства: Process Cell, control module, equipment module, unit, process cell, area, site, enterprise
        m12 – требования к уровням процедурной модели (модели технологического процесса): phase, operation, unit process, procedure
        m13 – требования к batch-процессам
        m14 – использование только одной рецептуры (bacth) для одной единицы оборудования в каждый момент времени
        m15 – модульный подход к построению системы управления на производстве
        M2 – define the interface between control functions and other enterprise functions based upon the Purdue Reference Model for CIM (hierarchical form) -: ISA95, Enterprise/Control Integration Committee - функции и связи компонентов производственных информационных систем
        M2={m21, m22, m23, m24}
        m21 – требования к производственным операциям и контрольным доменам (manufacturing operation and control domain)
        m22 – требования к материальным потокам предприятия
        m23 – требования к интерфейсу системы управления (Enterprise/control system interface)
        m24 – изменение технологических операций, стадий производства


        2. Industrial and enterprise automation systems

        I={I1, I2}
        I1 - ISO 15704:2000 - Промышленные автоматизированныесистемы. Требования к стандартным архитектурам предприятия и методологиям» (ISO 15704:2000 «Industrial automation systems -Requirements for enterprise-reference architectures and methodologies»)
        I1={I11, I12, I13, I14, I15}
        I11 – требования к системным архитектурам
        I12 – модульность процессов производства
        I13 - методологии формирования стандартных архитектур предприятия
        I14 – представления видов моделей предприятия – интегрированная модель в различных подмножествах
        I15 – идентификации  языков моделирования предприятия и конструкции моделирования для описания деятельности предприятия
        I2 – IEC 62264-3:2007
        I2={I21,I22, I23, I24, I25}
        I21 - Activity models of manufacturing operations management
        I22 – Structuring models for
        I23 - Production executing management
        I24 - information exchange in production operation management
        I25 - generic template for categories for manufacturing operation management
        4. Documentation
        D={D1, D2}
        D1 – ISO/IEC 26514:2008
        D1={d11, d12, d13, d14}
        d11 - design and of user documentation for application software
        d12 - preparation of user documentation for application software
        d13 – user documentation requirements
        d14 - user documentation constrains
        D2 - 21 CFR Part 11 – требования к электронным записям и электронной подписи
        D2={d21, d22, d23, d24}
        d21 – использование электронных записей вместо бумажных
        d22 – доступность документации производства для FDA inspections
        d23 – использование цифровой подписи для используемых сырья и материалов
        d24 –валидация для различимости действительности или изменения цифровой подписи
        D3 – GDP
        D3={D31, D32, D33, D34, D34}
        D31 – type of documents used in pharmaceuticals
        D32 - Defines specifications and procedures for all materials and methods of manufacture and control
        D33 – requirements for Batch Manufacturing records
        D34 – document control
        D35 - requirements for Validation Protocols

        4.  Risk management system for medical devices
        RM={RM1}
        RM1={rm11, rm12, rm13,rm14}
        rm11 - ущерб здоровью пациентов, окружающей среде (harm)
        rm12 - идентификация возможных угроз (опасности) (hazards)
        rm13- оценка качественных или количественных рисков, связанные с угрозами (estimate and evaluate the associated risks)
        rm14- управление рисками (control risk)
        rm15- - контроль рисков (monitor risk), насколько результативно управление рисками

        5.  Quality management
        QM={QM1, QM2, QM3}
        QM1 – ISO/IEC 9001:2088
        QM1={QM11, QM12, QM13, QM14}
        QM11 – цикл PDCA
        QM12 – требования к системе менеджмента качества
        QM13 – планирование процессов жизненного цикла ЛП
        QM14 – управление документацией
        QM15 – валидация процессов производства и обслуживания
        QM1 - Directive EU 91/356
        QM1={QM11, QM12, QM13}
        QM11 – требование проведения всех производственных операций в соответствие с GMP
        QM12 – основные правила использования GMP ЛП для применения у человека
        QM13 – документация должна давать возможность проследить историю производства каждой серии ЛП
        6. Subject area
        SB={SB1, SB2, SB3}
        SB1 – ASTM E2629 - 11
        SB1={Sb11, Sb12, Sb13}
        Sb11 – guide for PAT-enabled control system in pharmaceutical industry
        Sb12 - risk-based approaches in the pharmaceutical industry
        Sb13 – requirements for subsystem components of PAT-enabled control system
        SB2 - GMP
        SB2={Sb21, Sb22, Sb23, Sb24, Sb25, Sb26, Sb27, Sb28}
        Sb21 – требования к методикам проведения технологических процессов
        Sb22 – требование соответствия производимых лекарственных средств существующим спецификациям
        Sb23 – требования к критическим стадиям и операциям производственного процесса ЛП
        Sb24 – требования к надлежащей документации: спецификациям, производственным рецептурам, протоколам
        Sb25 – требования критической ревалидации
        Sb26 – требования к методикам изменения ПО
        Sb27 – требования наличия «проверки следа»
        Sb28 – проведение challenge tests
        SB3 – GAMP5
        SB3={Sb31, Sb32, Sb33, Sb34, Sb35}
        Sb31 – Процедура составления Спецификация требований пользователя
        Sb32 – Процедура анализа документации и ПО
        Sb33 – Процедура производства, контроля и выпуска ПО
        Sb34 - Процедура составления Функциональной спецификации
        Sb35 - Процедура составления Спецификации разработки ПО
        Sb36 - Процедура тестирования автоматизированных систем для фармацевтической отрасли
      </pre>
    </div>
  </div>
</article>