<div class="simpd_viewport">
  <nav class="navbar navbar-default navbar-fixed-top justified" style="z-index: 1;">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" data-ui-sref="dashboard">AFEUR</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown" dropdown>
            <a class="dropdown-toggle" dropdown-toggle href="javascript:void(0)">{{'standardBase' | translate}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/#/current-profiles" translate>currentProfiles</a></li>
              <li><a href="/#/standard-base" translate>standardBaseMES</a></li>
            </ul>
          </li>

          <li class="dropdown" dropdown>
            <a class="dropdown-toggle" dropdown-toggle href="javascript:void(0)">{{'assessmentOfSoftwareQuality' | translate}}<span
              class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/#/hierarchies">{{'requirements' | translate}}<b class="sr-only">(current)</b></a></li>
              <li><a href="/#/metrics" translate>metrics</a></li>
              <li><a href="/#/researches" translate>researches</a></li>
            </ul>
          </li>

          <li><a href="/#/authors" translate>authors</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" dropdown>
            <a class="dropdown-toggle" dropdown-toggle href="javascript:void(0)">{{'language' | translate}} <span class="badge">{{getLocale()}}</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" ng-click="setLocale('en')">English</a></li>
              <li><a href="javascript:void(0)" ng-click="setLocale('ru')">Русский</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" data-ng-click="logout()" translate>logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main__container" data-ui-view>
  </div>
</div>