@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: white;
}

.simpd-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  //background-color: #92CDFF;
  //background-image: url('images/fon_diss.jpg');
  background-attachment: fixed;
  opacity: .3;
  &.highlight {
    opacity: 1;
  }
}

.simpd-signin__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.simpd-signin__frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 300px;
  padding: 32px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);*/
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}


.simpd-enter__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.simpd-enter__frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  padding: 32px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);*/
  -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

.col-fixed {
  width: 80%;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}
//.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
//  background-color: rgba(0,150,136, .2);
//}

//.navbar .navbar-nav {
//  display: inline-block;
//  float: none;
//  vertical-align: top;
//}
//
//.navbar .navbar-collapse {
//  text-align: center;
//}

//.simpd-button {
//  @extend .btn;
//  @extend .btn-primary;
//  @extend .btn-raised;
//}

//.jumbotron
//{
//  background-color: #ffffff !important;
//  height: 90vh !important;
//}

//$bgDefault      : #006DCC;
//$bgHighlight    : #045FAF;
//$colDefault     : #ecf0f1;
//$colHover       : #92CDFF;
//
//.navbar-default {
//  background-color: $bgDefault;
//  border-color: $bgHighlight;
//  .navbar-brand {
//    color: $colDefault;
//    &:hover, &:focus {
//      color: $colHover; }}
//  .navbar-nav {
//    > li {
//      > a {
//        color: $colDefault;
//        &:hover, &:focus {
//          color: $colHover;   }}}
//    .active {
//      > a, > a:hover, > a:focus {
//        color: $colHover;
//        background-color: $bgHighlight; }}
//    .open {
//      > a, > a:hover, > a:focus {
//        color: $colHover;
//        background-color: $bgHighlight;
//        .caret {
//          border-top-color: $colHover;
//          border-bottom-color: $colHover; }}}
//    > .dropdown {
//      > a {
//        .caret {
//          border-top-color: $colDefault;
//          border-bottom-color: $colDefault; }
//        &:hover, &:focus {
//          .caret {
//            border-top-color: $colHover;
//            border-bottom-color: $colHover; }}}}}
//  .navbar-toggle {
//    border-color: $bgHighlight;
//    &:hover, &:focus {
//      background-color: $bgHighlight; }
//    .icon-bar {
//      background-color: $colDefault; }}}
//@media (max-width: 767px) {
//  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//    color: $colDefault;
//    &:hover, &:focus {
//      color: $colHover;
//      background-color: $bgHighlight; }}
//}
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }