<div class="simpd-enter__container">
    <div class="simpd-enter__frame">
        <p translate>
            simpdInfo
        </p>
        <a class="btn btn-raised btn-primary pull-left" data-ui-sref="signin" translate>signIn</a>
        <a class="btn btn-raised btn-primary pull-right" data-ui-sref="signup" translate>signUp</a>
    </div>
</div>