<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{'requirementsListId' | translate}}:  {{value.requirements.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="pull-right">
        <br/>
        <button data-ng-if="value.id" class="btn btn-raised btn-primary" data-ng-click="showResults()" translate>result</button>
      </div>
      <table class="table">
        <tr>
          <th translate>expert</th>
          <th translate>date</th>
        </tr>
        <tr data-ng-repeat="item in value.items">
          <td>{{item.expertName}}</td>
          <td width="10%" style="white-space: nowrap;">{{item.date | date : 'dd.MM.yyyy'}}</td>
        </tr>
        <tr data-ng-if="!value.items || !value.items.length">
          <td colspan="2" align="center" translate>noRating</td>
        </tr>
      </table>
      <div>
        <button type="button" class="btn btn-raised btn-primary btn-default" data-ng-click="addEvaluation()" translate>addRating</button>
      </div>
    </div>
  </div>
</div>
