<form class="form-horizontal" id="newEvaluation" name="formEvaluation" data-ng-submit="submit()">
  <div class="modal-header" translate>
    newRating
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="form-group">
        <h4 translate>expert</h4>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="expertName" translate>fullName</label>
        <div class="col-sm-10">
          <input class="form-control" id="expertName" data-ng-model="evaluation.expertName" autofocus/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="expertEducation" translate>degree</label>
        <div class="col-sm-10">
          <input class="form-control" id="expertEducation" data-ng-model="evaluation.expertEducation"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="center-block">
      <button type="submit" class="btn btn-raised btn-primary btn-default" translate>rate</button>
    </div>
  </div>
</form>