<div class="container-fluid">
  <div class="clearfix">
    <div class="pull-left">
      <h4>{{'rating' | translate}} {{value.requirements.name}}</h4>
      <h5>{{'expert' | translate}}: {{value.expertName}}</h5>
    </div>
    <div class="pull-right">
      <div class="btn btn-raised btn-primary-group">
        <button class="btn btn-raised btn-primary btn-default" data-ng-model="view" data-btn-radio="'list'" translate>list</button>
        <button class="btn btn-raised btn-primary btn-default" data-ng-model="view" data-btn-radio="'tree'" translate>tree</button>
      </div>
    </div>
  </div>
  <hr/>
  <table data-ng-if="view == 'list'" class="table">
    <tr>
      <th translate>id</th>
      <th translate>requirement</th>
      <th translate>rating</th>
    </tr>
    <tr data-ng-repeat="item in items">
      <td style="width: 1%; padding-left: {{item.level*20}}px;">
        {{item.number}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td style="width: 1%;">
        {{item.value}}
      </td>
    </tr>
  </table>
  <div data-ng-if="view == 'tree'">
    <div data-simpd-requirements-tree data-value="value" style="width: 100%;">
    </div>
  </div>
</div>