.simpd-signin__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2b542c;
}

.simpd-signin__frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  padding: 32px;
  text-align: center;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);*/
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background-color: #2b542c;
}