<div class="simpd-signin__container">
  <div class="simpd-signin__frame">
    <form name="formSignin" class="center-block" data-ng-submit="signin()">
      <div class="form-group">
        <input class="form-control" name="name" required data-ng-model="credentials.name">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" data-ng-model="credentials.password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-raised btn-primary" type="submit" translate>signIn</button>
        <button class="btn btn-raised btn-primary" ng-click="back()" translate>back</button>
      </div>
    </form>
  </div>
</div>