<div class="simpd-hierarchy-item" data-ui-tree-handle>
  <!--<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
  <table border="0" class="simpd-hierarchy-item__content">
    <tr>
      <td class="simpd-hierarchy-item__content__handle">
        <!--Т {{node.number}}-->
      </td>
      <td id="node-info">
        <div class="col-sm-3">
          <label class="control-label" translate>number</label>
          <!--<ui-select data-ng-model="value.nodeNumbers[node.number]" class="simpd-hierarchy-item__select" data-nodrag>-->
          <ui-select data-ng-model="node.nodeNumber"
                     data-on-select="changeSelectedNodeNumber($item, $model, node.nodeNumber)"
                     class="simpd-hierarchy-item__select"
                     data-nodrag>
            <ui-select-match class="workaround" placeholder="Select a node" data-nodrag>{{$select.selected}}
            </ui-select-match>
            <ui-select-choices class="workaround" repeat="nodeNumber in value.availableNodes" data-nodrag>{{nodeNumber}}
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-4">

          <label class="control-label" translate>name</label>
          <textarea class="simpd-hierarchy-name__input"
                    data-ng-model="node.name"
                    placeholder="{{'name' | translate}}" required autofocus>
                    </textarea>
        </div>

        <div class="col-sm-3">
          <label class="control-label" translate>formula</label>

          <a class="pull-right btn btn-default btn-xs"
             data-ng-hide="formulaEditMode"
             data-nodrag data-ng-click="startFormulaEdit()">
            <span class="glyphicon glyphicon-edit"></span>
          </a>

          <a class="pull-right btn btn-default btn-xs"
             data-ng-hide="!formulaEditMode"
             data-nodrag data-ng-click="endFormulaEdit(node.number)">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </a>

          <!--data-mathjax-bind="value.formulaViews[node.number]"-->
          <label class="control-label mathjax-big-font"
                 data-mathjax-bind="node.formulaView"
                 data-ng-hide="formulaEditMode">
          </label>


          <!--data-ng-model="value.formulas[node.number]"-->

          <textarea class="simpd-hierarchy-formula__input"
                    data-ng-model="node.formula"
                    data-ng-hide="!formulaEditMode"
                    placeholder="{{'formula' | translate}}" required autofocus>
                    </textarea>
        </div>
        <div class="col-sm-3">
          <label class="control-label" translate>values</label>

          <a class="pull-right btn btn-default btn-xs"
             data-ng-hide="valuesEditMode"
             data-nodrag data-ng-click="startValuesEdit()">
            <span class="glyphicon glyphicon-edit"></span>
          </a>

          <a class="pull-right btn btn-default btn-xs"
             data-ng-hide="!valuesEditMode"
             data-nodrag data-ng-click="endValuesEdit(node.number)">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </a>

          <!--data-mathjax-bind="value.valuesViews[node.number]"-->
          <label class="control-label mathjax"
                 data-mathjax-bind="node.valuesView"
                 data-ng-hide="valuesEditMode">
          </label>

          <!--data-ng-model="value.values[node.number]"-->
          <textarea class="simpd-hierarchy-values__input block-displayed"
                    data-ng-model="node.values"
                    data-ng-hide="!valuesEditMode"
                    placeholder="{{'values' | translate}}" required autofocus>
          </textarea>
        </div>
        <!--<div class="col-sm-3">-->
        <!--<label class="control-label" translate>values</label>-->
        <!--<textarea class="simpd-hierarchy-values__input"-->
        <!--data-ng-model="value.values[node.number]"-->
        <!--placeholder="{{'values' | translate}}" required autofocus>-->
        <!--</textarea>-->
        <!--</div>-->
        <div class="col-sm-3">
          <label class="control-label" translate>index</label>
          <!--<label class="control-label">{{value.intergralIndexes[node.number]}}</label>-->
          <label class="control-label">{{node.intergralIndex}}</label>
        </div>
      </td>
      <td class="simpd-hierarchy-item__content__actions">
        <a class="pull-right btn btn-default btn-xs" data-nodrag data-ng-click="recalcIntegralIndex(node.number)">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a class="pull-right btn btn-default btn-xs" data-nodrag data-ng-click="removeSubItem(this)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  </table>
</div>