<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>{{'requirementsListId' | translate}}: {{value.requirements.name}}</h4>
      <!--<div class="pull-left">-->
        <!--<h4>{{'requirementsListId' | translate}}: {{value.requirements.name}}</h4>-->
      <!--</div>-->
    </div>
    <div class="panel-body">
      <form name="formRequriements" data-ng-submit="save()">
        <div class="form-horizontal">
            <div class="clearfix container-fluid">
              <div class="pull-right">
                <button data-ng-if="value.id" class="btn btn-raised btn-primary" data-ng-click="showResults()" translate>result</button>
              </div>
            </div>
        </div>

        <button type="button" class="btn btn-raised btn-primary" data-ng-click="addTopLevel()" translate>add</button>
        <div class="container-fluid pull-right">
          <button type="submit" class="btn btn-raised btn-primary" translate>save</button>
          <button type="button" class="btn btn-raised btn-primary" data-ng-click="cancel()" translate>cancel</button>
        </div>

        <div data-ui-tree="treeOptions" class="simpd-hierarchy-items">
          <ol data-ui-tree-nodes data-ng-model="value.items">
            <li data-ng-repeat="node in value.items" data-ui-tree-node
                data-ng-model="value"
                data-ng-include="'app/blocks/metrics-editor/nodes.html'"></li>
          </ol>
        </div>

        <button type="button" class="btn btn-raised btn-primary" data-ng-click="addTopLevel()" translate>add</button>
        <div id="bottom" class="container-fluid pull-right">
          <button type="submit" class="btn btn-raised btn-primary" translate>save</button>
          <button type="button" class="btn btn-raised btn-primary" data-ng-click="cancel()" translate>cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
