<form class="form-horizontal" id="newMetrics" name="formMetrics" data-ng-submit="submit()">
  <div class="modal-header" translate>
      newMetrics
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class='form-group'>
        <label class="col-sm-2 control-label" for="requirements_id" translate>requirementsListId</label>
        <div class="col-sm-10">
          <ui-select data-ng-model="metrics.requirements_id">
            <ui-select-match>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="value.id as value in requirements | filter: $select.search">
              <div ng-bind-html="value.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="center-block">
      <button type="submit" class="btn btn-raised btn-primary btn-default" translate>ok</button>
    </div>
  </div>
</form>