.rate-card {
  height: 255px;
  padding: 8px;
}

.rate-card-border {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

.rate-card-rating {
  text-align: center;
  font-size: 22px;
  position: absolute;
  width: 100%;
  bottom: 16px;
}

.rate-card-go-deeper {
  position: absolute;
  right: 16px;
}

.rate-card-state {
  position: absolute;
  left: 8px;
}
