<div class="container-fluid">
  <div class="rate-header">
    <button class="btn btn-raised btn-primary btn-default rate-header-back" data-ng-click="goBack()"
            data-ng-if="stack.length">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <h2>{{rateItem.name}}</h2>
  </div>
  <hr/>
  <div class="clearfix">
    <div data-ng-repeat="item in rateItem.items track by $index" class="col-lg-4 col-sm-6 col-xs-12 rate-card">
      <div class="rate-card-border">
        {{item.name}}
        <div data-ng-if="item.value">{{'value' | translate}} {{item.value}}</div>
        <div class="rate-card-rating">
          <span class="glyphicon rate-card-state" data-ng-class="getIndicatorClass(item)"></span>
          <rating ng-model="item.rate" max="maxValue" on-hover="hoveringOver(value)"
                  on-leave="overStar = null"></rating>
          <div class="pull-right">
            <button class="btn btn-raised btn-primary btn-default rate-card-go-deeper"
                    data-ng-click="setRateItem(item, rateItem)" data-ng-if="item.items && item.items.length">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="done">
    <button type="button" class="btn btn-raised btn-primary btn-default" data-ng-click="save()" translate>save</button>
  </div>
</div>