<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" translate>metrics</h1>
    </div>
    <div class="panel-body">
      <div>
        <button class="btn btn-raised btn-primary" data-ng-click="addItem()" translate>add</button>
        <!--<button class="btn btn-raised btn-primary glyphicon btn-s glyphicon-plus" data-ng-click="addItem()" translate></button>-->
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th translate>metricsList</th>
          <th translate>date<th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in source" ng-click="go('/metrics/' + item.id)">
          <td class="vert-align" width="100%">{{item.requirements.name}}</td>
          <td class="vert-align" width="100%" style="white-space: nowrap">{{item.date | date : 'dd.MM.yyyy' }}</td>
          <td class="vert-align">
            <button type="button" class="btn btn-raised btn-primary btn-xs" data-ng-click="delete(item)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
