<article class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" translate>currentProfiles</h1>
    </div>
    <div class="panel-body">
      <div>
        <map name="facetno-1">
          <area shape="rect" target="_self" coords="319,39,546,101" href="#/current-profiles#t11"/>
          <area shape="rect" target="_self" coords="322,220,547,280" href="#/current-profiles#t12"/>
          <!--<area  shape="rect"  target="_self" coords="316,465,542,508" href="#/current-profiles#t13" />-->
          <!--<area  shape="rect"  target="_self" coords="322,645,548,690" href="#/current-profiles#t21" />-->
          <area shape="rect" target="_self" coords="562,86,625,116" href="#/current-profiles#s1"/>
          <area shape="rect" target="_self" coords="656,86,717,118" href="#/current-profiles#s2"/>
          <area shape="rect" target="_self" coords="740,83,809,123" href="#/current-profiles#s3"/>
          <area shape="rect" target="_self" coords="833,83,898,119" href="#/current-profiles#s4"/>
          <area shape="rect" target="_self" coords="922,83,990,121" href="#/current-profiles#s5"/>
          <area shape="rect" target="_self" coords="498,142,568,181" href="#/current-profiles#s11"/>
          <area shape="rect" target="_self" coords="574,144,644,182" href="#/current-profiles#s12"/>
          <area shape="rect" target="_self" coords="651,146,717,178" href="#/current-profiles#s13"/>
          <area shape="rect" target="_self" coords="743,146,808,180" href="#/current-profiles#s14"/>
          <area shape="rect" target="_self" coords="922,161,990,196" href="#/current-profiles#s41"/>
          <area shape="rect" target="_self" coords="999,161,1065,196" href="#/current-profiles#s41"/>
          <area shape="rect" target="_self" coords="1072,160,1141,194" href="#/current-profiles#s43"/>
          <!--<area  shape="rect"  target="_self" coords="1149,158,1216,196" href="#/current-profiles#s44" />-->
          <area shape="rect" target="_self" coords="600,200,674,242" href="#/current-profiles#s21"/>
          <area shape="rect" target="_self" coords="679,202,745,240" href="#/current-profiles#s21"/>
          <area shape="rect" target="_self" coords="752,200,819,241" href="#/current-profiles#s23"/>
          <area shape="rect" target="_self" coords="825,200,887,238" href="#/current-profiles#s24"/>
          <area shape="rect" target="_self" coords="923,233,989,270" href="#/current-profiles#s51"/>
          <area shape="rect" target="_self" coords="996,235,1064,271" href="#/current-profiles#s52"/>
          <area shape="rect" target="_self" coords="1076,236,1145,272" href="#/current-profiles#s53"/>
          <area shape="rect" target="_self" coords="523,290,588,325" href="#/current-profiles#r1"/>
          <area shape="rect" target="_self" coords="597,290,661,326" href="#/current-profiles#r2"/>
          <area shape="rect" target="_self" coords="672,291,738,327" href="#/current-profiles#r3"/>
          <area shape="rect" target="_self" coords="746,288,813,326" href="#/current-profiles#r4"/>
          <area shape="rect" target="_self" coords="839,300,906,333" href="#/current-profiles#s31"/>
          <area shape="rect" target="_self" coords="915,297,981,332" href="#/current-profiles#s32"/>
          <area shape="rect" target="_self" coords="992,297,1058,334" href="#/current-profiles#s33"/>
          <area shape="rect" target="_self" coords="1068,296,1132,333" href="#/current-profiles#s34"/>
          <area shape="rect" target="_self" coords="526,360,591,397" href="#/current-profiles#r11"/>
          <area shape="rect" target="_self" coords="598,365,653,397" href="#/current-profiles#r12"/>
          <area shape="rect" target="_self" coords="661,359,723,396" href="#/current-profiles#r13"/>
          <area shape="rect" target="_self" coords="732,364,791,400" href="#/current-profiles#r14"/>
          <area shape="rect" target="_self" coords="799,361,860,400" href="#/current-profiles#r15"/>
          <area shape="rect" target="_self" coords="888,366,947,403" href="#/current-profiles#r21"/>
          <area shape="rect" target="_self" coords="957,366,1016,399" href="#/current-profiles#r22"/>
          <area shape="rect" target="_self" coords="1023,366,1083,403" href="#/current-profiles#r23"/>
          <area shape="rect" target="_self" coords="1095,367,1150,401" href="#/current-profiles#r24"/>
          <area shape="rect" target="_self" coords="1162,363,1217,401" href="#/current-profiles#r25"/>
          <area shape="rect" target="_self" coords="561,429,619,464" href="#/current-profiles#r31"/>
          <area shape="rect" target="_self" coords="637,428,689,466" href="#/current-profiles#r32"/>
          <area shape="rect" target="_self" coords="697,428,762,463" href="#/current-profiles#r33"/>
          <area shape="rect" target="_self" coords="771,429,823,464" href="#/current-profiles#r34"/>
          <area shape="rect" target="_self" coords="843,442,897,475" href="#/current-profiles#r41"/>
          <area shape="rect" target="_self" coords="900,441,959,479" href="#/current-profiles#r42"/>
          <area shape="rect" target="_self" coords="960,445,1019,475" href="#/current-profiles#r43"/>
          <area shape="rect" target="_self" coords="1025,445,1081,475" href="#/current-profiles#r44"/>
          <area shape="rect" target="_self" coords="1085,443,1138,476" href="#/current-profiles#r45"/>
          <area shape="rect" target="_self" coords="1146,441,1203,478" href="#/current-profiles#r46"/>
          <area shape="rect" target="_self" coords="575,489,640,523" href="#/current-profiles#ss1"/>
          <area shape="rect" target="_self" coords="653,487,713,520" href="#/current-profiles#ss2"/>
          <area shape="rect" target="_self" coords="724,486,796,524" href="#/current-profiles#ss3"/>
          <area shape="rect" target="_self" coords="801,490,867,520" href="#/current-profiles#ss4"/>
          <area shape="rect" target="_self" coords="991,516,1051,542" href="#/current-profiles#ss21"/>
          <area shape="rect" target="_self" coords="1063,512,1133,546" href="#/current-profiles#ss22"/>
          <area shape="rect" target="_self" coords="1141,512,1203,544" href="#/current-profiles#ss23"/>
          <area shape="rect" target="_self" coords="577,548,641,582" href="#/current-profiles#ss11"/>
          <area shape="rect" target="_self" coords="649,550,719,584" href="#/current-profiles#ss12"/>
          <area shape="rect" target="_self" coords="727,549,791,586" href="#/current-profiles#ss13"/>
          <area shape="rect" target="_self" coords="800,548,866,582" href="#/current-profiles#ss14"/>
          <area shape="rect" target="_self" coords="878,549,936,579" href="#/current-profiles#ss15"/>
          <area shape="rect" target="_self" coords="586,606,657,642" href="#/current-profiles#ss31"/>
          <area shape="rect" target="_self" coords="666,607,733,641" href="#/current-profiles#ss32"/>
          <area shape="rect" target="_self" coords="740,606,810,640" href="#/current-profiles#ss33"/>
          <area shape="rect" target="_self" coords="920,611,990,643" href="#/current-profiles#ss41"/>
          <area shape="rect" target="_self" coords="994,608,1063,644" href="#/current-profiles#ss42"/>
          <area shape="rect" target="_self" coords="1074,610,1139,642" href="#/current-profiles#ss43"/>
          <area shape="rect" target="_self" coords="1152,606,1217,643" href="#/current-profiles#ss44"/>
          <area shape="rect" target="_self" coords="602,685,674,721" href="#/current-profiles#i1"/>
          <area shape="rect" target="_self" coords="721,686,799,724" href="#/current-profiles#i2"/>
        </map>
        <img width="100%" src="images/facetno-1.png" usemap="#facetno-1">
      </div>
      <div>
        <map name="facetno-2">
          <area shape="rect" target="_self" coords="418,109,495,161" href="#/current-profiles#i11"/>
          <area shape="rect" target="_self" coords="496,107,573,164" href="#/current-profiles#i12"/>
          <area shape="rect" target="_self" coords="572,101,646,167" href="#/current-profiles#i13"/>
          <area shape="rect" target="_self" coords="649,103,722,169" href="#/current-profiles#i14"/>
          <area shape="rect" target="_self" coords="722,102,815,169" href="#/current-profiles#i15"/>
          <area shape="rect" target="_self" coords="813,97,905,172" href="#/current-profiles#i21"/>
          <area shape="rect" target="_self" coords="906,98,981,180" href="#/current-profiles#i22"/>
          <area shape="rect" target="_self" coords="981,99,1058,181" href="#/current-profiles#i23"/>
          <area shape="rect" target="_self" coords="1060,99,1131,191" href="#/current-profiles#i24"/>
          <area shape="rect" target="_self" coords="1132,98,1218,194" href="#/current-profiles#i25"/>
          <area shape="rect" target="_self" coords="411,154,507,229" href="#/current-profiles#qm1"/>
          <area shape="rect" target="_self" coords="290,225,375,291" href="#/current-profiles#qm11"/>
          <area shape="rect" target="_self" coords="376,226,452,293" href="#/current-profiles#qm12"/>
          <area shape="rect" target="_self" coords="454,227,528,303" href="#/current-profiles#qm13"/>
          <area shape="rect" target="_self" coords="526,227,613,303" href="#/current-profiles#qm14"/>
          <area shape="rect" target="_self" coords="612,227,695,299" href="#/current-profiles#qm21"/>
          <area shape="rect" target="_self" coords="641,162,739,229" href="#/current-profiles#qm2"/>
          <area shape="rect" target="_self" coords="693,225,771,300" href="#/current-profiles#qm22"/>
          <area shape="rect" target="_self" coords="772,222,857,305" href="#/current-profiles#qm23"/>
          <area shape="rect" target="_self" coords="858,166,965,229" href="#/current-profiles#qm3"/>
          <area shape="rect" target="_self" coords="866,229,952,298" href="#/current-profiles#qm31"/>
          <area shape="rect" target="_self" coords="955,231,1026,300" href="#/current-profiles#qm32"/>
          <area shape="rect" target="_self" coords="1028,227,1127,304" href="#/current-profiles#qm33"/>
          <area shape="rect" target="_self" coords="354,284,444,356" href="#/current-profiles#sb1"/>
          <area shape="rect" target="_self" coords="308,375,395,437" href="#/current-profiles#sb11"/>
          <area shape="rect" target="_self" coords="393,369,468,441" href="#/current-profiles#sb12"/>
          <area shape="rect" target="_self" coords="468,369,554,444" href="#/current-profiles#sb13"/>
          <area shape="rect" target="_self" coords="456,291,575,359" href="#/current-profiles#sb2"/>
          <area shape="rect" target="_self" coords="579,368,664,439" href="#/current-profiles#sb21"/>
          <area shape="rect" target="_self" coords="662,365,739,441" href="#/current-profiles#sb22"/>
          <area shape="rect" target="_self" coords="736,355,816,441" href="#/current-profiles#sb23"/>
          <area shape="rect" target="_self" coords="816,351,891,444" href="#/current-profiles#sb24"/>
          <area shape="rect" target="_self" coords="893,359,964,441" href="#/current-profiles#sb25"/>
          <area shape="rect" target="_self" coords="964,355,1039,441" href="#/current-profiles#sb26"/>
          <area shape="rect" target="_self" coords="1039,352,1120,444" href="#/current-profiles#sb27"/>
          <area shape="rect" target="_self" coords="1117,351,1210,446" href="#/current-profiles#sb28"/>
          <area shape="rect" target="_self" coords="532,436,618,519" href="#/current-profiles#sb31"/>
          <area shape="rect" target="_self" coords="614,436,696,520" href="#/current-profiles#sb32"/>
          <area shape="rect" target="_self" coords="690,437,766,522" href="#/current-profiles#sb33"/>
          <area shape="rect" target="_self" coords="765,442,846,524" href="#/current-profiles#sb34"/>
          <area shape="rect" target="_self" coords="845,444,915,522" href="#/current-profiles#sb35"/>
          <area shape="rect" target="_self" coords="318,477,420,547" href="#/current-profiles#m1"/>
          <area shape="rect" target="_self" coords="286,536,379,607" href="#/current-profiles#m11"/>
          <area shape="rect" target="_self" coords="375,539,451,606" href="#/current-profiles#m12"/>
          <area shape="rect" target="_self" coords="450,540,524,609" href="#/current-profiles#m13"/>
          <area shape="rect" target="_self" coords="523,541,604,611" href="#/current-profiles#m14"/>
          <area shape="rect" target="_self" coords="601,539,700,610" href="#/current-profiles#m15"/>
          <area shape="rect" target="_self" coords="437,482,535,548" href="#/current-profiles#m2"/>
          <area shape="rect" target="_self" coords="781,535,875,616" href="#/current-profiles#m21"/>
          <area shape="rect" target="_self" coords="875,537,952,614" href="#/current-profiles#m22"/>
          <area shape="rect" target="_self" coords="951,534,1025,614" href="#/current-profiles#m23"/>
          <area shape="rect" target="_self" coords="1024,532,1111,614" href="#/current-profiles#m24"/>
          <area shape="rect" target="_self" coords="373,614,477,680" href="#/current-profiles#d1"/>
          <area shape="rect" target="_self" coords="502,616,592,680" href="#/current-profiles#d2"/>
          <area shape="rect" target="_self" coords="612,617,727,688" href="#/current-profiles#d3"/>
          <area shape="rect" target="_self" coords="294,684,391,759" href="#/current-profiles#d11"/>
          <area shape="rect" target="_self" coords="385,686,464,754" href="#/current-profiles#d12"/>
          <area shape="rect" target="_self" coords="467,683,542,754" href="#/current-profiles#d13"/>
          <area shape="rect" target="_self" coords="541,680,621,750" href="#/current-profiles#d14"/>
          <area shape="rect" target="_self" coords="630,698,727,774" href="#/current-profiles#d21"/>
          <area shape="rect" target="_self" coords="719,699,804,779" href="#/current-profiles#d22"/>
          <area shape="rect" target="_self" coords="796,699,876,779" href="#/current-profiles#d23"/>
          <area shape="rect" target="_self" coords="875,701,958,777" href="#/current-profiles#d24"/>
          <area shape="rect" target="_self" coords="782,637,875,712" href="#/current-profiles#d31"/>
          <area shape="rect" target="_self" coords="874,633,951,714" href="#/current-profiles#d32"/>
          <area shape="rect" target="_self" coords="950,634,1027,714" href="#/current-profiles#d33"/>
          <area shape="rect" target="_self" coords="1026,636,1102,719" href="#/current-profiles#d34"/>
          <area shape="rect" target="_self" coords="1103,638,1203,722" href="#/current-profiles#d35"/>
        </map>
        <img width="100%" src="images/facetno-2.png" usemap="#facetno-2">
      </div>
      <div>
        <table class="table table-hover" cellpadding="7" cellspacing="0">
          <tr>
            <td>
              <p><b>Группа стандартов</b></p>
            </td>
            <td>
              <p><b>Стандарт</b></p>
            </td>
            <td>
              <p><b>Компоненты</b></p>
            </td>
          </tr>
          <tr>
            <td id="t11" rowspan="5">
              <p>System and software engineering: Life cycle</p>
              <p>S={S1, S2, S3, S4, S5}</p>
            </td>
            <td id="s1">
              <p>S1 – ISO/IEC 25010:2011</p>
              <p>S1={S11, S12, S13, S14, S14}</p>
            </td>
            <td>
              <p id="s11">S11 – quality models</p>
              <p id="s12">S12 – quality in use characteristics and subcharacteristics</p>
              <p id="s13">S13 – software quality measurement model</p>
              <p id="s14">S14 – качество данных</p>
              <p id="s15">S15 – quality life cycle model</p>
            </td>
          </tr>
          <tr>
            <td id="s2">
              <p>S2 - ISO/IEC/IEEE 16326:2009</p>
              <p>S2={S21, S22, S23, S24}</p>
            </td>
            <td>
              <p id="s21">S21 – management of software projects</p>
              <p id="s22">S22 – project planning process</p>
              <p id="s23">S23 – project assessment</p>
              <p id="s24">S24 – risk management process</p>
            </td>
          </tr>
          <tr>
            <td id="s3">
              <p>S3 - ISO/IEC 12207:2008</p>
              <p>S3={S31, S32, S33, S34}</p>
            </td>
            <td>
              <p id="s31">S31 – general structure of software life cycle processes</p>
              <p id="s32">S32 – software development tasks</p>
              <p id="s33">S33 – process capabilities</p>
              <p id="s34">S34 – group life cycle processes of software</p>
            </td>
          </tr>
          <tr>
            <td id="s4">
              <p>S4 - ISO/IEC 90003:2004</p>
              <p>S4={S41, S42, S43, S44}</p>
            </td>
            <td>
              <p id="s41">S41 – life cycle software models</p>
              <p id="s42">S42 – project tools</p>
              <p id="s43">S43 – plans for technical requirements for software testing</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="s5">S5 – ISO/IEC 25000:2014</p>
              <p>S5={S51, S52, S53}</p>
            </td>
            <td>
              <p id="s51">S51 – coordination of guidance on systems and software product</p>
              <p id="s52">S52 – introduction of systems product quality</p>
              <p id="s53">S53 – quality requirements division</p>
            </td>
          </tr>
          <tr>
            <td id="t12" rowspan="4">
              <p>Risk management and risk</p>
              <p>assessment techniques</p>
              <p>R={R1, R2, R3, R4}</p>
            </td>
            <td id="r1">
              <p>R1 - ISO/IEC 31010:2009</p>
              <p>R1={r11, r12, r13, r14, r15}</p>
            </td>
            <td>
              <p id="r11">R11 – risk assessment</p>
              <p id="r12">R12 – risk management</p>
              <p id="r13">R13 – requirements for the level of risk</p>
              <p id="r14">R14 – documentation risks whithin its assessment</p>
              <p id="r15">R15 – output: list of risks and not corrected deviations</p>
            </td>
          </tr>
          <tr>
            <td id="r2">
              <p>R2 – ISO/IEC 14971 for medical devices</p>
              <p>R2={r21, r22, r23, r24, r25}</p>
            </td>
            <td>
              <p id="r21">R21 – risk assessment</p>
              <p id="r22">R22 – risk management</p>
              <p id="r23">R23 – requirements for the level of risk</p>
              <p id="r24">R24 – riskalidation</p>
              <p id="r25">R25 – risk reduction</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="r3">R3 – Guidance fo industry (drugs)</p>
              <p>Q9</p>
              <p>R3={r31, r32, r33, r34}</p>
            </td>
            <td>
              <p id="r31">R31 – basic risk management facilitation methods</p>
              <p id="r32">R32 – critical control points and hazard analysis</p>
              <p id="r33">R33 – risk ranking and filtering</p>
              <p id="r34">R34 – quality risk management as part of technological process</p>
            </td>
          </tr>
          <tr>
            <td id="r4">
              <p>R4 – IEC/TR 80002-1: 2009(E)</p>
              <p>R4={r41, r42, r43, r44, r45, r46}</p>
            </td>
            <td>
              <p id="r41">R41 – requirements for medical devices software</p>
              <p id="r42">R42 – potential software-related pitfalls</p>
              <p id="r43">R43 – identification of hazards</p>
              <p id="r44">R44 – evaluation of overall residual risk acceptability</p>
              <p id="r45">R45 – estimation of the risk(s) for each hazardous situation</p>
              <p id="r46">R46 – risks arising from risk control measures</p>
            </td>
          </tr>
          <tr>
            <td rowspan="4">
              <p id="ss">Safety and security</p>
              <p>SS={SS1, SS2, SS3, SS4}</p>
            </td>
            <td>
              <p id="ss1">SS1 – ISO 61508</p>
              <p>SS1={SS11, SS12, SS13, SS14, SS15}</p>
            </td>
            <td>
              <p id="ss11">SS11 – safety life circle requirements</p>
              <p id="ss12">SS12 – safety integrity levels</p>
              <p id="ss13">SS13 – software requirements: techniques and measures</p>
              <p id="ss14">SS14 –-model of software development</p>
              <p id="ss15">SS15 – hardware requirements</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="ss2">SS2 – ISO/IEC 15408</p>
              <p>SS2={SS21,
                SS22, SS23}</p>
            </td>
            <td>
              <p id="ss21">SS21 – requirements for software reliability</p>
              <p id="ss22">SS22 – security functional requirements</p>
              <p id="ss23">SS23 – security assurance requirement</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="ss3">SS3 – ISO 13335:1998</p>
              <p>SS3={SS31, SS32, SS33}</p>
            </td>
            <td>
              <p id="ss31">SS31 – management of IT security</p>
              <p id="ss32">SS32 – methods of security guarantee</p>
              <p id="ss33">SS33 – models of security control</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>SS4 – ISO/TR 27809:2007</p>
              <p>SS4={SS41, SS42, SS43, SS44}</p>
            </td>
            <td>
              <p id="ss41">SS41 – requirements for health software products</p>
              <p id="ss42">SS42 – risk assessment for patients</p>
              <p id="ss43">SS43 – reduce the risk for patients</p>
              <p id="ss44">SS44 – software classification for the subject area</p>
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              <p>MES-system</p>
              <p>M={M1, M2, M3}</p>
            </td>
            <td>
              <p id="m1">M1 – ISA88</p>
              <p>M1={m11, m12, m13, m14, m15}</p>
            </td>
            <td>
              <p id="m11">M11 – requirements to the physical model production: control</p>
              <p>module, equipment module, unit, process cell, area, site, enterprise</p>
              <p id="m12">M12 – procedural requirements for the levels model (technological
                process model): phase, operation, unit process, procedure</p>
              <p id="m13">M13 – requirements to batch-process</p>
              <p id="m14">M14 – use of only one recipe (bacth) for one piece of equipment at each time point</p>
              <p id="m15">M15 – modular approach to building control systems in</p>
              <p>manufacturing</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>M1 – ISA95</p>
              <p id="m2">M2={m21, m22, m23, m24}</p>
            </td>
            <td>
              <p id="m21">M21 – manufacturing operation and control domain</p>
              <p id="m22">M22 – requirements for material flows</p>
              <p id="m23">M23 – enterprise control system interface</p>
              <p id="m24">M24 – technological change operations, production stages</p>
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              <p>Industrial and enterprise automation systems</p>
              <p>I={I1, I2}</p>
            </td>
            <td>
              <p>I1 – ISO 15704:2000</p>
              <p id="i1">I1={I11, I12, I13, I14, I15}</p>
            </td>
            <td>
              <p id="i11">I11 – requirements for the system architecture</p>
              <p id="i12">I12 – modular production processes</p>
              <p id="i13">I13 – methodology of establishing standard enterprise architectures</p>
              <p id="i14">I14 – representation types of enterprise models - integrated model in different subsets</p>
              <p id="i15">I15 – identification of enterprise modeling languages</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>I2 – IEC 62264-3:2007</p>
              <p id="i2">I2={I21,I22, I23, I24, I25}</p>
            </td>
            <td>
              <p id="i21">I21 – activity models of manufacturing operations management</p>
              <p id="i22">I22 – structuring models</p>
              <p id="i23">I23 – production executing management</p>
              <p id="i24">I24 – information exchange in production operation management</p>
              <p id="i25">I25 – generic template for categories for manufacturing operation
                management</p>
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              <p>Documentation</p>
              <p>D={D1, D2, D3}</p>
            </td>
            <td>
              <p>D1 – ISO/IEC 26514:2008</p>
              <p id="d1">D1={D11, D12, D13, D14}</p>
            </td>
            <td>
              <p id="d11">D11
                - design and of user documentation for application software</p>
              <p id="d12">D12
                - preparation of user documentation for application software</p>
              <p id="d13">D13
                – user documentation requirements</p>
              <p id="d14">D14
                - user documentation constrains</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>D2 - 21 CFR Part 11</p>
              <p id="d2">D2={D21,
                D22, D23, D24}</p>
            </td>
            <td>
              <p id="d21">D21 – use of electronic records instead of paper</p>
              <p id="d22">D22
                – availability of documentation for production FDA inspections</p>
              <p id="d23">D23
                – use of digital signatures used for raw materials</p>
              <p id="d24">D24
                –alidation for legibility reality or change the digital
                signature</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>D3
                – GDP</p>
              <p id="d3">D3={D31,
                D32, D33, D34, D35}</p>
            </td>
            <td>
              <p id="d31">D31 – type of documents used in pharmaceuticals</p>
              <p id="d32">D32 – defines specifications and procedures for all materials and</p>
              <p>methods of manufacture and control</p>
              <p id="d33">D33 – requirements for batch manufacturing records</p>
              <p id="d34">D34 – document control</p>
              <p id="d35">D35 – requirements foralidation protocols</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Risk management system for</p>
              <p>medical
                devices</p>
              <p>RM={RM1}</p>
            </td>
            <td>
              <p id="rm1">RM1={RM11,
                RM12,</p>
              <p>RM13,RM14}</p>
            </td>
            <td>
              <p id="rm11">RM11
                - harm</p>
              <p id="rm12">RM12
                - hazards</p>
              <p id="rm13">RM13
                - estimate and evaluate the associated risks</p>
              <p id="rm14">RM14
                - control risk</p>
              <p id="rm15">RM15
                - monitor risk</p>
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              <p>Quality
                management</p>
              <p>QM={QM1,
                QM2, QM3}</p>
            </td>
            <td>
              <p id="qm1">QM1
                – ISO/IEC 9001:2088</p>
              <p>QM1={QM11,
                QM12, QM13,</p>
              <p>QM14}</p>
            </td>
            <td>
              <p id="qm11">QM11
                – PDCA circle</p>
              <p id="qm12">QM12
                – requirements for a quality management system</p>
              <p id="qm13">QM13
                – planning life cycle processes of dtugs</p>
              <p id="qm14">QM14
                – documentation management</p>
              <p id="qm15">QM15
                –alidation of processes for production and service</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>QM2
                - Directive EU 91/356</p>
              <p id="qm2">QM2={QM21,
                QM22, QM23}</p>
            </td>
            <td>
              <p id="qm21">QM21
                – requirement for all manufacturing operations to GMP</p>
              <p id="qm22">QM22
                – basic rules of use GMP for human</p>
              <p id="qm23">QM23
                – to trace the history of the production of each drugs series</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="qm3">QM3
                - Guidance Q10</p>
              <p>QM3={QM31,
                QM32, QM33}</p>
            </td>
            <td>
              <p id="qm31">QM31
                - pharmaceutical quality system elements</p>
              <p id="qm32">QM32
                - diagram of the ICH Q10 pharmaceutical quality system</p>
              <p>model</p>
              <p id="qm33">QM33
                - resource management</p>
              <p id="qm34">QM34
                - management of outsourced activities and purchased materials</p>
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              <p>Subject
                area</p>
              <p>SB={SB1,
                SB2, SB3}</p>
            </td>
            <td>
              <p id="sb1">SB1
                – ASTM E2629 - 11</p>
              <p>SB1={SB11,
                SB12, SB13}</p>
            </td>
            <td>
              <p id="sb11">SB11
                – guide for PAT-enabled control system in pharmaceutical</p>
              <p>industry</p>
              <p id="sb12">SB12
                - risk-based approaches in the pharmaceutical industry</p>
              <p id="sb13">SB13
                – requirements for subsystem components of PAT-enabled control
                system</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="sb2">SB2
                - GMP</p>
              <p>SB2={Sb21,
                Sb22, Sb23, Sb24,</p>
              <p>Sb25,
                Sb26, Sb27, Sb28}</p>
            </td>
            <td>
              <p id="sb21">SB21
                – requirements for methods of technological processes</p>
              <p id="sb22">SB22
                – requirement to drugs specifications</p>
              <p id="sb23">SB23
                – requirements for critical stages of the drugs production</p>
              <p id="sb24">SB24
                – requirements for specifications, production recipes,
                protocols</p>
              <p id="sb25">SB25
                – critical requirements of revalidation</p>
              <p id="sb26">SB26
                – requirements for software change procedures</p>
              <p id="sb27">SB27
                – requirements «check track»</p>
              <p id="sb28">SB28
                –challenge tests requirements</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="sb3">SB3
                – GAMP5</p>
              <p>SB3={SB31,
                SB32, SB33, SB34,</p>
              <p>SB35}</p>
            </td>
            <td>
              <p id="sb31">SB31
                – specificatiom of users requirements</p>
              <p id="sb32">SB32
                – software documentation analysis</p>
              <p id="sb33">SB33
                – Production procedure, control and software release</p>
              <p id="sb34">SB34
                – functional spesification of software</p>
              <p id="sb35">SB35
                - Specification of software development</p>
              <p id="sb36">SB36
                - testing of automated systems for the pharmaceutical industry</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</article>
