.simpd-signup {
  //background: whitesmoke;
  //opacity: 0.3;
}

.simpd-signup__box {
  position: absolute;
  left: 50%;
  top: 20%;
  padding-top: 20px;
  width: 300px;
  height: 200px;
  border: 0px solid white;
  transform: translate3d(-50%, -50%, 0);
}

.colored-block {
  //float: left;
  width: 1200px;
  height: 315px;
  //margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.teal {
  background: #00796B;
}