<div class="webapp-viewport">
  <div class="container simpd-signup">
    <div class="container">
      <form class="jumbotron" name="formsignup" data-ng-submit="signup()">
        <fieldset>
          <div>
             <div class="form-group">
              <label class="control-label" translate>login</label>
              <input class="form-control" name="login" required data-ng-model="credentials.name"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>password</label>
              <input class="form-control" type="password" name="password" data-ng-model="credentials.password"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>fullName</label>
              <input class="form-control" name="full_name" required data-ng-model="credentials.info.fullName"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>qualification</label>
              <input class="form-control" name="qualification" required
                     data-ng-model="credentials.info.qualification"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>field</label>
              <input class="form-control" name="field" required data-ng-model="credentials.info.field"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>experience</label>
              <input class="form-control" name="experience" required data-ng-model="credentials.info.experience"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>academicDegree</label>
              <input class="form-control" name="academic_degree" required
                     data-ng-model="credentials.info.academicDegree"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>academicRank</label>
              <input class="form-control" name="academic_rank" required
                     data-ng-model="credentials.info.academicRank"/>
            </div>
             <div class="form-group">
              <label class="control-label" translate>numberOfPublications</label>
              <input class="form-control" type="number" name="number_of_publications" min="0"
                     data-ng-model="credentials.info.numberOfPublications"/>
            </div>
          </div>
        </fieldset>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-ng-repeat="field in fields track by $index" data-slide-to="{{$index + 1}}"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <div class="colored-block teal"></div>
              <div class="carousel-caption">
                <h3 translate>skillRanks</h3>
              </div>
            </div>
            <div class="item" data-ng-repeat="field in fields track by $index">
              <div class="colored-block teal"></div>
              <div class="carousel-caption">
                <h3>{{ field | translate}}</h3>
                <rating ng-model="credentials.info[field]" max="10" on-hover="hoveringOver(value)"
                        on-leave="overStar = null"></rating>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <div class="form-group">
          <button class="btn btn-raised btn-primary btn-block" translate>signUp</button>
        </div>
      </form>
    </div>
  </div>
</div>
