<div class="container-fluid container margin-top-20">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title" translate>authors</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        Федосеева Алина Александровна<br/>
                        Alina Fedoseyeva<br/>
                        <a href="mailto:fedosaa@ukr.net" class="btn btn-raised btn-primary">
                            Fedosaa@ukr.net
                        </a>
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        Орехов Юрий Александрович<br/>
                        Yuriy Orekhov<br/>
                        <a href="mailto:yuri.orekhov.84@gmail.com" class="btn btn-raised btn-primary">
                            yuri.orekhov.84@gmail.com
                        </a>
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        Букин Игорь Олегович<br/>
                        Igor Bukin<br/>
                        <a href="mailto:Ig.bukin2022@gmail.com" class="btn btn-raised btn-primary">
                            Ig.bukin2022@gmail.com
                        </a>
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        Андрусенко Иван Александрович<br/>
                        Ivan Andrusenko<br/>
                        <a href="mailto:ivan.andrusenko.kharkiv@gmail.com" class="btn btn-raised btn-primary">
                            ivan.andrusenko.kharkiv@gmail.com
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>