<div class="container-fluid container margin-top-20">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title" translate>researches</h4>
      </div>
      <div class="panel-body">
        <div>
          <button class="btn btn-raised btn-primary" data-ng-click="addItem()" translate>add</button>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th translate>requirementsList</th>
            <th translate>date<th>
          </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in source" ng-click="go('/researches/' + item.id)">
              <td class="vert-align" width="100%">{{item.requirements.name}}</td>
              <td class="vert-align" width="100%" style="white-space: nowrap">{{item.date | date : 'dd.MM.yyyy' }}</td>
              <td class="vert-align">
                <button type="button" class="btn btn-raised btn-primary btn-default btn-xs" data-ng-click="delete(item)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>