<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{'result' | translate}}: {{research.requirements.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-right">
          <div class="btn-primary-group">
            <button class="btn btn-raised btn-primary btn-default" data-ng-model="view" data-btn-radio="'list'">{{'list' | translate}}</button>
            <button class="btn btn-raised btn-primary btn-default" data-ng-model="view" data-btn-radio="'tree'">{{'tree' | translate}}</button>
            <button class="btn btn-raised btn-primary btn-default" data-ng-model="view" data-btn-radio="'radar'">{{'radar' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button class="btn btn-raised btn-primary btn-default" data-ng-click="saveCsv()"><span
          class="glyphicon glyphicon-save"></span>
        </button>
        <div style="font-size: large" class="label label-primary pull-right">
          {{'integralIndex' | translate}}: {{value[0].Q}}
        </div>
      </div>

      <table data-ng-if="view == 'list'" class="table">
        <tr>
          <th translate>id</th>
          <th translate>requirement</th>
          <th translate>rating</th>
        </tr>
        <tr data-ng-repeat="item in items">
          <td style="width: 1%; padding-left: {{item.level*20}}px;">
            {{item.number}}
          </td>
          <td>
            {{item.name}}
          </td>
          <td style="width: 1%;">
            {{item.value}}
          </td>
        </tr>
      </table>
      <div data-ng-if="view == 'tree'" data-simpd-requirements-tree data-value="value" style="width: 100%;">
      </div>
      <div data-ng-if="view == 'radar'" data-ng-controller="radarCtrl">
        <canvas tc-chartjs-radar data-chart-options="options" data-chart-data="data" data-auto-legend></canvas>
      </div>
    </div>
  </div>
</div>
