.simpd-hierarchy-items {
  .angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
  }
  .angular-ui-tree-empty {
    display: none;
  }
  .angular-ui-tree-placeholder {
    border: 2px dashed #ccc;
    background: #eee;
  }
  .angular-ui-tree-handle {
    padding: 4px;
    margin-bottom: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    background: white;
  }
}

.simpd-hierarchy-item__content {
  width: 100%;

}

.simpd-hierarchy-item__content__handle {
  width: 32px;
  vertical-align: top;
  white-space: nowrap;
}

.simpd-hierarchy-item__content__actions {
  width: 32px;
  white-space: nowrap;
}

.simpd-hierarchy-item__input {
  border: 1px solid white;
  width: 100%;
  &:hover, &:focus {
    border: 1px solid #ccc;
  }
}