<div class="simpd-hierarchy-item" data-ui-tree-handle>
  <table border="0" class="simpd-hierarchy-item__content">
    <tr>
      <td class="simpd-hierarchy-item__content__handle">
        Т {{node.number}}
      </td>
      <td>
        <textarea name="{{'requirement_'+node.number}}" class="simpd-hierarchy-item__input" data-ng-model="node.name" placeholder="{{'newRequirement' | translate}}" required autofocus></textarea>
      </td>
      <td class="simpd-hierarchy-item__content__actions">
        <a class="pull-right btn btn-default btn-xs" data-nodrag data-ng-click="newSubItem(this)">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a class="pull-right btn btn-default btn-xs" data-nodrag data-ng-click="removeSubItem(this)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  </table>
</div>
<ol data-ui-tree-nodes="" data-ng-model="node.items">
  <li data-ng-repeat="node in node.items" data-ui-tree-node data-ng-include="'app/blocks/hierarchy-editor/nodes.html'"></li>
</ol>