<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 data-ng-if="value.id">{{'editRequirements' | translate}}</h4>
      <h4 data-ng-if="!value.id">{{'newRequirementsList' | translate}}</h4>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="formRequriements" data-ng-submit="save()">
        <!--<button type="button" class="btn btn-raised btn-primary glyphicon glyphicon-plus" data-ng-click="addTopLevel()"></button>-->
        <button type="button" class="btn btn-raised btn-primary" data-ng-click="addTopLevel()" translate>add</button>
        <div class="container-fluid pull-right">
          <button type="submit" class="btn btn-raised btn-primary container-fluid" translate>save</button>
          <button type="button" class="btn btn-raised btn-primary container-fluid" data-ng-click="cancel()" translate>cancel</button>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" translate>name</label>
            <div class="col-sm-10">
              <label>
                <input class="form-control" name="name" data-ng-model="value.name" required autofocus/>
              </label>
            </div>
          </div>
        </div>
        <div class="form-horizontal simpd-hierarchy-items" data-ui-tree="treeOptions">
          <ol class="center-block col-fixed" data-ui-tree-nodes data-ng-model="value.items">
            <li data-ng-repeat="node in value.items" data-ui-tree-node data-ng-include="'app/blocks/hierarchy-editor/nodes.html'"></li>
          </ol>
        </div>
        <!--<button type="button" class="btn btn-raised btn-primary glyphicon glyphicon-plus" data-ng-click="addTopLevel()"></button>-->
        <button type="button" class="btn btn-raised btn-primary" data-ng-click="addTopLevel()" translate>add</button>
        <div id="bottom" class="container-fluid pull-right">
          <button type="submit" class="btn btn-raised btn-primary" translate>save</button>
          <button type="button" class="btn btn-raised btn-primary" data-ng-click="cancel()" translate>cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
