<div class="container-fluid container margin-top-20">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" translate>requirementsLists</h1>
    </div>
    <div class="panel-body">
      <div>
        <button class="btn btn-raised btn-primary" data-ng-click="addItem()" translate>add</button>
        <!--<button class="btn btn-raised btn-primary glyphicon btn-s glyphicon-plus" data-ng-click="addItem()" translate></button>-->
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th translate>name</th>
        </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="item in source" ng-click="go('/hierarchies/' + item.id)">
            <td class="vert-align" width="100%">{{item.name}}</td>
            <td class="vert-align">
              <button type="button" class="btn btn-raised btn-primary btn-xs" data-ng-click="delete(item)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
